<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8"/>
		<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
		<title>Modal</title>

		<link rel="stylesheet" type="text/css" href="/res/site/css/cadastroModal.css">

		
		
		<script type="text/javascript">

			function abrirModal() { 
				document.getElementById("modal").style.display="block"; 
    			

			}
			function fecharModal() { 
				document.getElementById("modal").style.display="none"; 
    			

			}

		</script>



	</head>
	<body>
			<h1>CONTEUDO</h1>
			
			<input type="button" name="" value="ENVIAR" class="btn_modal"
			onclick="abrirModal()">
			<div id="modal" >
				
				<div class="modal-box">
					
					<div class="modal-box-conteudo">
						
					</div>
					<div class="fechar" onclick="fecharModal()">X</div>
				</div>


			</div>


	</body>
</html>